html {
  min-height: 100%;
  background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?cs=srgb&dl=pexels-hasan-albari-1229861.jpg&fm=jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.myName {
  font-style: italic;
  font-size: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.info-item {
  display: flex;
  align-items: center;
  list-style: none;
}
