#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75px;
    font-weight: 1000;
    font-style: italic;
    text-align: center;
}
.headline {
    color:  orangered;
    ;font-size: 35px;
}
body {
    background-color: rgb(207, 247, 245);
}

.border-image {
    border-color: black;
    border-width: 3.5px;
    border-style: solid;
    border-radius: 100%;
}

#image {
    width: 750px;
    margin: auto;
    display: block
}

#img-div {
    background: rgb(45, 205, 245);
    padding: 10px;
    margin: 0;

}


#img-caption {
    font-size: 20px;
    text-align: center;
}

#headline {
    font-size: 40px;
}

#tribute-info {
    margin: auto;
    display: block;

    width: 40vw;

}
li{
    font-size: x-large;
    font-family: initial;
    font-style: oblique;
}
.toSite { 
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}